<nav class="navbar bg-light">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">GYM APP ADMINISTRATION</span>
    </div>
    <div class="new-btns">
        <button class="btn btn-info" routerLink="/admin">Admin</button>
        <button class="btn btn-info" routerLink="/pricing">Pricing</button>
        <button class="btn btn-info" routerLink="/classes">Classes</button>
        <button class="btn btn-info" routerLink="/">Home</button>
    </div>
  </nav>
<div class="admin-section container">
    <div class="admin-view">    
        <h4>Students</h4>
        <p>{{description[0]}}</p>
        <button routerLink="/lista-student">See</button>
    </div>
    <div class="admin-view">    
        <h4>Students by Classes</h4>
        <p>{{description[1]}}</p>
        <button routerLink="/lista-student-class">See</button>
    </div>
    <div class="admin-view">    
        <h4>Classes</h4>
        <p>{{description[2]}}</p>
        <button routerLink="/lista-class">See</button>
    </div>
</div>
<Footer></Footer>