<nav class="navbar bg-light">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">GYM APP ADMINISTRATION</span>
    </div>
  </nav>
<div class="container">
    <div class="author-container mb-0 mt-2">
        <h4>Auth</h4>
    </div>
    <div class="container position-absolute top-1 end-2">
        <h4>Students</h4>
        <div class="position-absolute top-1 end-0">
            <button class="btn btn-primary ">
                Add
            </button>
            <button class="btn btn-primary">
                EDIT
            </button>
        </div>
        <br/>
        <div class="container position-absolute top-1 end-1">
            <h4>Students by Activity</h4>
            <div class="position-absolute top-1 end-0">
                <button class="btn btn-primary ">
                    Add
                </button>
                <button class="btn btn-primary">
                    EDIT
                </button>
            </div>
        <br>
        <br>
        <div class="container position-absolute top-1 end-1">
            <h4>Students</h4>
            <div class="position-absolute top-1 end-0">
                <button class="btn btn-primary ">
                    View
                </button>
            </div>
    </div>
    
</div>
<br>
<br>
<br><br><br><br><br><br>
<Footer></Footer>