<Navbar></Navbar>
<div class="register-wrapper">
	<div class="register-block">
	<form [formGroup]="registerForm" (ngSubmit)="submitRegister()">
		<div class="mb-3">
			<label for="InputUserName" class="form-label">Username</label>
			<input type="text" class="form-control" id="InputUserName" formControlName="username">
		</div>
		<div class="mb-3">
			<label for="InputPassword" class="form-label">Password</label>
			<input type="password" class="form-control" id="InputPassword" formControlName="password">
			<p id="Help" class="form-text">
				Passwords must be at least 6 characters.<br>
				Passwords must have at least one non alphanumeric character.<br>
				Passwords must have at least one digit ('0'-'9').<br>
				Passwords must have at least one uppercase ('A'-'Z').
			</p>
		</div>
		<div class="mb-3">
			<label for="InputName" class="form-label">Name</label>
			<input type="text" class="form-control" id="InputName" formControlName="name">
		</div>
		<div class="mb-3">
			<label for="InputEmail" class="form-label">Email address</label>
			<input type="email" class="form-control" id="InputEmail" aria-describedby="Help" formControlName="email">
			<div id="Help" class="form-text">We'll never share your email with anyone else.</div>
		</div>
		<div class="mb-3">
			<label for="InputPhoneNumber" class="form-label">Phone Number</label>
			<input type="text" class="form-control" id="InputPhoneNumber" formControlName="phoneNumber">
		</div>
		<div class="mb-3">
			<label for="InputBirthday" class="form-label">Birthday</label>
			<input type="date" class="form-control" id="InputBirthday" formControlName="birthday">
		</div>
		<button type="submit" class="btn btn-primary">Register</button>
		<button type="button" class="btn btn-secondary" routerLink="../">Cancel</button>
	</form>
</div>
</div>
<Footer></Footer>
