<Navbar></Navbar>
<section id="team" class="team team-bg py-5">
    <div class="container">

      <div class="section-title">
        <p class="main-team-subheading">Grupo 6 </p>
        <p class="main-team-heading">Our Hardworking Team</p>
      </div>

      <div class="row">

        <div class="col-lg-6">
          <div class="member d-flex align-items-start">
            <div class="pic"><img src="../../../assets/ulises.jpg" class="img-fluid" alt=""></div>
            <div class="member-info">
              <p class="member-heading">{{personas[0]}}</p>
              <span>Fullstack developer</span>
              <p class="member-para">As a proactive developer, I enjoy making things look great! So this time I was in charge of the frontend</p>
              <div class="social">
                <a href="https://github.com/Nemo3003"><i class="fab fa-github team-icon"></i></a>
                <a href="https://www.linkedin.com/in/ulises-mariano-melgarejo/"> <i class="fab fa-linkedin-in team-icon"></i> </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 mt-4 mt-lg-0">
          <div class="member d-flex align-items-start">
            <div class="pic"><img src="../../../assets/alejandro.jfif" class="img-fluid" alt=""></div>
            <div class="member-info">
              <p class="member-heading">{{personas[1]}}</p>
              <span>Fullstack developer/Group leader</span>
              <p class="member-para">As a hardworking developer, I worked hard to meet the requirements and managed to make huge advances on the project.</p>
              <div class="social">
                <a href="https://github.com/AlejandroMFe"><i class="fab fa-github team-icon"></i></a>
                <a href="https://www.linkedin.com/in/alejandromfe/"> <i class="fab fa-linkedin-in team-icon"></i> </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 mt-4">
          <div class="member d-flex align-items-start">
            <div class="pic"><img src="../../../assets/franz.jpg" class="img-fluid" alt=""></div>
            <div class="member-info">
              <p class="member-heading">{{personas[2]}}</p>
              <span>Fullstack developer</span>
              <p class="member-para">As a resilient person that I am, I never gave up and made sure that my part made on time and met the requirements. Nothing is impossible for me!</p>
              <div class="social">
                <a href="https://github.com/gznarf"><i class="fab fa-github team-icon"></i></a>
                <a href="https://www.linkedin.com/in/gznarf/"> <i class="fab fa-linkedin-in team-icon"></i> </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 mt-4">
          <div class="member d-flex align-items-start">
            <div class="pic"><img src="../../../assets/alan.jpg" class="img-fluid" alt=""></div>
            <div class="member-info">
              <p class="member-heading">{{personas[3]}}</p>
              <span>Fullstack developer</span>
              <p class="member-para">Frontend-backend genius, I was able to make the front and backend work as expected</p>
              <div class="social">
                <a href="https://github.com/AlanCoradi95"><i class="fab fa-twitter team-icon"></i></a>
                <a href="https://www.linkedin.com/in/alancoradi/"> <i class="fab fa-linkedin-in team-icon"></i> </a>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section>
<Footer></Footer>