<Navbar></Navbar>
<div>
    <h1>Our Team</h1>
    <div class="container-team">
        <div class="persona-1">
            <img src="https://avatars2.githubusercontent.com/u/17098281?s=460&v=4" alt="">
            <h2>{{personas[0]}}</h2>
            <p>
                {{personas[0]}} is a student at the University of Texas at Austin. <br> He is a full stack developer and has a passion for
                web development.
            </p>
        </div>
        <div class="persona-2">
            <img src="https://avatars2.githubusercontent.com/u/17098281?s=460&v=4" alt="">
            <h2>{{personas[1]}}</h2>
            <p>
                {{personas[1]}} is a student at the University of Texas at Austin. <br> He is a full stack developer and has a passion for
                web development.
            </p>
        </div>
        <div class="persona-3">
            <img src="https://avatars2.githubusercontent.com/u/17098281?s=460&v=4" alt="">
            <h2>{{personas[2]}}</h2>
            <p>
                {{personas[2]}} is a student at the University of Texas at Austin. <br> He is a full stack developer and has a passion for
                web development.
            </p>
        </div>
        <div class="persona-4">
            <img src="https://avatars2.githubusercontent.com/u/17098281?s=460&v=4" alt="">
            <h2>{{personas[3]}}</h2>
            <p>
                {{personas[3]}} is a student at the University of Texas at Austin. <br> He is a full stack developer and has a passion for
                web development.
            </p>
        </div>
    </div>
</div>
<Footer></Footer>