.container-img{
    display: flex;
    max-width: 90rem;
    margin: 0 auto;
    padding:0 2rem 2rem 2.5rem;
    max-height: fit-content;
    
}
.img-responsive{
    width: 70%;
    height: 90%;
    margin: auto;
}
.map-google{
    display: flex;
    margin: 0 auto;
    width: 600px;
    height: 400px;
}