
<div>
    <h1>{{ title }}</h1>
    <div class="container-img">
        <img class="img-responsive" src="../../../assets/gym2.jpg" alt="ex">
    </div>
    <div class="container-map">
        <h2>{{mapName}}</h2>
        <div class="mapouter google-maps"><div class="gmap_canvas"><iframe width="200" height="150" id="gmap_canvas" src="https://maps.google.com/maps?q=4800%20Montgomery,%20bethesda&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://fmovies-online.net"></a><br><style>.mapouter{position:relative;text-align:right;height:150px;width:200px;}</style><a href="https://www.embedgooglemap.net">interactive google maps for website</a><style>.gmap_canvas {overflow:hidden;background:none!important;height:150px;width:200px;}</style></div></div>
    </div>
</div>