<div>
    <!-- <h1>{{ title }}</h1> -->
    <div>
        <img style="width:100%;" class="img-responsive w-100" src="../../../assets/fondo.jpg" alt="ex">
        <div class="centered"
            style="color:white; font-family:'Arial'; font-size: 100px; font-weight: bold; color:white">SE IMPARABLE
        </div>
    </div>
    <div class="container-map" style="width:100%;">
        <h2>{{mapName}}</h2>
        <iframe class="map-google"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3283.8153138977686!2d-58.37803278489311!3d-34.60883136527555!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccad3b632a695%3A0xa26da4fbfe291ee5!2sAv.%20de%20Mayo%20666%20piso%206%2C%20C1084AAO%20CABA!5e0!3m2!1sen!2sar!4v1658484175802!5m2!1sen!2sar"
            style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>