<Navbar></Navbar>
<h1>ACTIVITIES</h1>
<div class="wrapper">
    <div class="card">
        <img src="..." alt="#">
        <p class="card-content">Lorem ipsum dolor sit <br> amet consectetur adipisicing elit. </p>
        <button class="card-btn">READ MORE</button>
        <button class="card-btn">READ MORE</button>
        </div>
        <div class="card">
            <img src="..." alt="#">
            <p class="card-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
            <button class="card-btn">READ MORE</button>
            <button class="card-btn">READ MORE</button>
          
        </div>
        <div class="card">
            <img src="..." alt="#">
            <p class="card-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
            <button class="card-btn">READ MORE</button>
            <button class="card-btn">READ MORE</button>
       
        </div>
        <div class="card">
            <img src="..." alt="#">
            <p class="card-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
            <button class="card-btn">READ MORE</button>
            <button class="card-btn">READ MORE</button>
        
        </div>
    </div>
<Footer></Footer>