<Navbar></Navbar>
<h1>Pricing</h1>
<div class="wrapper">
    <div class="card">
        <h3 class="card-title">{{classes[0]}}</h3>
            <p class="card-content">${{prices[0]}} <br> {{features[0]}} <br> {{description[0]}}</p>
            <button class="card-btn" routerLink="/classes">SUSCRIBE</button>
        </div>
        <div class="card">
            <h3 class="card-title">{{classes[1]}}</h3>
            <p class="card-content">${{prices[1]}} <br> {{features[1]}} <br> {{description[1]}}</p>
            <button class="card-btn" routerLink="/classes">SUSCRIBE</button>
        </div>
        <div class="card">
            <h3 class="card-title">{{classes[2]}}</h3>
            <p class="card-content">${{prices[2]}} <br> {{features[2]}} <br> {{description[2]}}</p>
            <button class="card-btn" routerLink="/classes">SUSCRIBE</button>
        </div>
        
    </div>
<Footer></Footer>