<div>
    <h2>pricing</h2>
    <!--<div *ngFor=" let class from classes">
        <div class="container-pricing">
            <div class="container-pricing-img">
                <img class="img-responsive" src="{{class.img}}" alt="ex">
            </div>
            <div class="container-pricing-info">
                <h3>{{class.name}}</h3>
                <p>{{class.description}}</p>
                <p>{{class.price}}</p>
                <button class="btn btn-primary">Buy</button>
            </div>
        </div>
    </div>-->
</div>