<Navbar></Navbar>
<div class="wrapper container">
    <div class="card">
        <h3 class="card-title">{{classes[0]}}</h3>
            <p class="card-content">{{classesDia[0]}} <br> {{features[0]}}</p>
            <button class="card-btn" routerLink="/classes">SUSCRIBE</button>
        </div>
        <div class="card">
            <h3 class="card-title">{{classes[1]}}</h3>
            <p class="card-content">{{classesDia[1]}} <br> {{features[1]}}</p>
            <button class="card-btn" routerLink="/classes">SUSCRIBE</button>
        </div>
        <div class="card">
            <h3 class="card-title">{{classes[2]}}</h3>
            <p class="card-content">{{classesDia[2]}} <br> {{features[2]}}</p>
            <button class="card-btn" routerLink="/classes">SUSCRIBE</button>
        </div>
        <div class="card">
            <h3 class="card-title">{{classes[3]}}</h3>
            <p class="card-content">{{classesDia[3]}} <br> {{features[3]}}</p>
            <button class="card-btn" routerLink="/classes">SUSCRIBE</button>
        </div>
        
    </div>
<Footer></Footer>
