<!-- <nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">GYM APP ADMINISTRATION</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/lista-class">Clases</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/lista-student">Estudiantes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/lista-student-class">Estudiantes por clases</a>
        </li>
      </ul>
    </div>
  </div>
</nav> -->
<app-navbarAdmin></app-navbarAdmin>
<div class="container mt-5 mb-5">
  <table class="table table-striped">
    <thead class="">
      <th>#</th>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Precio</th>
      <th>Acciones</th>
    </thead>
    <tbody>
      <tr *ngFor="let activity of activities">
        <td scope="row">{{increaseCount()}}</td>
        <td scope="row">{{activity.title}}</td>
        <td scope="row">{{activity.description}}</td>
        <td scope="row">$ {{activity.price}}</td>
        <td scope="row">
          <div class="btn-group" role="group" aria-label="Basic outlined example">
            <button type="button" class="btn btn-outline-primary">Editar</button>
            <button type="button" class="btn btn-outline-danger">Eliminar</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<Footer></Footer>