/* You can add global styles to this file, and also import other style files */
body{
    background-color: #8d9178;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #333;
    line-height: 1.42857143;
    margin: 0;
    padding: 0;
}